h1 {
    color: blue;
}

.box {
    padding: 30px 40px;
    border-radius: 7px;
}

h2 {
    position: relative;  
    color: #0f0;
    font-size: 28px;
}

h2 span {
    height: 50%;
    position: absolute;
    color: #f00;
    overflow: hidden;  
}
